* {
    margin: 0;
    padding: 0;
}

.invite-btn {
    background-image: linear-gradient(to left, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border: none;
    font-size: 18px;
    color: white;
    padding: 0.5em;
}

.invite-btn:hover {
    opacity: 0.8;
    color: white;
}

#invite-btn_1 {
    position: absolute;
    right: 2em;
}

.line-hover:hover {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to left, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-image-slice: 1;
}

#main-part {
    position: relative;
    overflow: hidden;
}

#main-bg {
    position: absolute;
    height: 100%;
    width: auto;
    right: 0;
    z-index: -1;
}

.card-title:hover {
    background: -webkit-linear-gradient(hsl(136, 65%, 51%),
            hsl(192, 70%, 51%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#foot {
    background-color: hsl(233, 26%, 24%);
}

#foot-img {
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.foot-links a {
    text-decoration: none;
}